.skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center; 
}

.skills img {
    width: 55%;
}

.skills-container {
    display: flex;
    flex-direction: row;
    /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
}

.bar-container {
    height: 5px;
    width: 130px;
    margin-right: 10px;
    position: relative;
    background-color: gray;
    margin-bottom: 2rem;
    border-radius: 7px;
}

.primary-title h1 {
    text-align: center;
    margin-top: 50px;
}

.bar-container .html,
.bar-container .javascript,
.bar-container .bootstrap,
.bar-container .nodejs,
.bar-container .nosql,
.bar-container .reactjs,
.bar-container .adobe {
    position: absolute;
    height: 100%;
    margin-right: 10px;
    background-color: rgb(85, 182, 85);
    border-radius: 7px;
}

.html {
    -webkit-animation: progress-html 3s forwards;
            animation: progress-html 3s forwards;
}

@keyframes progress-html {
    from {width:0px;}
    to {width:85%;}
}

.javascript {
    -webkit-animation: progress-javascript 3s forwards;
            animation: progress-javascript 3s forwards;
}

@keyframes progress-javascript {
    from {width:0px;}
    to {width:50%;}
}

.bootstrap {
    -webkit-animation: progress-bootstrap 3s forwards;
            animation: progress-bootstrap 3s forwards;
}

@keyframes progress-bootstrap {
    from {width:0px;}
    to {width:65%;}
}

.nodejs {
    -webkit-animation: progress-nodejs 3s forwards;
            animation: progress-nodejs 3s forwards;
}

@keyframes progress-nodejs {
    from {width:0px;}
    to {width:50%;}
}

.nosql {
    -webkit-animation: progress-nosql 3s forwards;
            animation: progress-nosql 3s forwards;
}

@keyframes progress-nosql {
    from {width:0px;}
    to {width:55%;}
}

.reactjs {
    -webkit-animation: progress-reactjs 3s forwards;
            animation: progress-reactjs 3s forwards;
}

@keyframes progress-reactjs {
    from {width:0px;}
    to {width:60%;}
}


.adobe {
    -webkit-animation: progress-adobe 3s forwards;
            animation: progress-adobe 3s forwards;
}

@keyframes progress-adobe {
    from {width:0px;}
    to {width:70%;}
}