.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user-input {
    width: 25rem;
    height: 2rem;
    margin: 2rem;
    display: block;
    padding: 1rem;
    border: 2px solid var(--color-bg-variant);
    border-radius: 0.5rem;
}

.email-input {
    height: 15rem;
}

h1 {
    text-align: center;
}

.submit-btn {
    text-align: center;
}

.bg-contact {
    background-image: linear-gradient(-60deg, var(--color-bg-variant) 50%, rgba(161, 5, 57, 0.884) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
