

ul > li> a {
    text-align: center;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
    border-radius: 10px;
    /* background: linear-gradient(#4db5ff, 10%, #247291, transparent); */
    width: 6rem;
    
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.6);

}
.nav-items {
justify-content: center;
}
